<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fajartime"
        tools:targetApi="31">
        <activity
            android:name=".Pertemuan_5.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_5.FifthActivity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_5.fifth"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_4.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_4.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_3.SelamatDatangActivity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan_3.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pertemuan_2.PerhitunganActivity"
            android:exported="true"
            android:label="Kalkulator Persegi Panjang &amp; Balok" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fajartime" />
    </application>

</manifest>